/* styles.css */
@media (min-width: 639px) and (max-width: 733px) {
  .responsive-div {
    margin-top: 4rem;
  }
}
@media (min-width: 634px) and (max-width: 770px) {
  .responsive-div {
    margin-top: 8rem;
  }
}
@media (min-width: 1074px) and (max-width: 1279px) {
  .responsive-div {
    margin-top: 20rem;
  }
}

.theme-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-align: center;
  background-color: #d21c23;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 15px 20px;
  max-width: 140px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.theme-btn:before {
  content: "";
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: white;
  z-index: -1;
  transition: all 0.4s ease-out;
  border-radius: inherit;
}
.theme-btn:hover {
  color: red;
  box-shadow: none;
}
.theme-btn:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  .theme-btn {
    padding: 15px 20px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .theme-btn {
    padding: 12px 15px;
    font-size: 10px;
  }
}
