/* styles.css */
@media (min-width: 639px) and (max-width: 733px) {
  .responsive-div {
    margin-top: 4rem;
  }
}
@media (min-width: 634px) and (max-width: 770px) {
  .responsive-div {
    margin-top: 8rem;
  }
}
@media (min-width: 1074px) and (max-width: 1279px) {
  .responsive-div {
    margin-top: 20rem;
  }
}
